@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf");
}

* {
    background-color: black;
    color: white;
    font-family: "Roboto", "Trebuchet MS", sans-serif;
    font-size: 20px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

textarea {
    border: 2px solid gray;
    outline: none;
}

textarea:focus {
    border-color: white;
}

button, select {
    margin: 10px;
    border: 2px solid gray;
}

button:hover, select:hover {
    border-color: white;
}
