@font-face {
    font-family: "SrcCode";
    src: url("/fonts/SourceCodePro.ttf");
}

body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "SrcCode";
}

h1 {
    font-size: 100px;
}

a {
    text-decoration: none;
    color: #7777ff;
}

a:hover {
    color: #aaaaff;
}