@font-face {
    src: url("/fonts/PressStart.ttf");
    font-family: "PS2P";
}

body {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
}

.square {
    width: 40px;
    height: 40px;
    background-color: black;
    float: left;
    font-family: "PS2P";
}

.slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 40%; 
    height: 12px;  
    background: #444444;
    outline: none; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: white; 
    cursor: pointer; 
  }
  
  .slider::-moz-range-thumb {
    border: none;
    border-radius: 0px;
    width: 25px; 
    height: 25px; 
    background: white; 
    cursor: pointer; 
  }

button {
    background-color: black;
    color: white;
    border: 3px solid gray;
    font-size: 20px;
    font-family: "PS2P";
}

button:hover {
    border: 3px solid white;
}

#board {
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 640px;
    border: 5px solid gray;
}

#pause {
    display: none;
    background-color: black;
    color: white;
    border: 3px solid white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: fit-content;
    font-family: "PS2P";
    font-size: 40px;
    text-align: center;
    padding: 20px;
}

#retry {
    padding: 5px;
}

#home {
    padding: 5px;
}

#settings_go {
    padding: 5px;
}

#game_over {
    position: absolute;
    left: 50%;
    top: 50%;
    width: fit-content;
    height: fit-content;
    transform: translate(-50%, -50%);
    display: none;
    background-color: black;
    color: white;
    border: 3px solid white;
    text-align: center;
    font-size: 30px;
    padding: 20px;
    font-family: "PS2P";
}

#settings {
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(fit-content + 50px);
    height: fit-content;
    transform: translate(-50%, -50%);
    display: none;
    background-color: black;
    color: white;
    border: 3px solid white;
    text-align: left;
    font-size: 20px;
    padding: 50px;
    padding-top: 5px;
    font-family: "PS2P";
}

#close_set {
    width: 130px;
    height: 40px;
}

#reset {
    width: 130px;
    height: 40px;
}

input {
    float: right;
}

input[type="color" i] {
    padding: 0px;
    border: 3px solid gray;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
    padding: 0px;
}

input[type="color" i]:hover {
    border-color: white;
}
