@font-face {
  font-family: TetrisFont;
  src: url(fonts/PressStart.ttf);
}

html {
  height: 650px;
}

h1 {
  font-size: 80px;
  text-align: center;
}

body {
  color: white;
  height: 620px;
  background-color: #202020;
  font-family: TetrisFont;
  text-align: center;
  margin-left: 100px;
  margin-top: 25px;
  scrollbar-color: #202020 #202020;
  scrollbar-width: thin;
}

button {
  background-color: black;
  border: 3px solid #aaaaaa;
  color: white;
  font-family: TetrisFont;
  padding: 7px;
}

button:hover {
  background-color: #333333;
}

.box {
  background-color: red;
  width: 27px;
  height: 27px;
  float: left;
}

.nextbox {
  background-color: red;
  width: 13.5px;
  height: 13.5px;
  float: left;
}

.right {
  position: absolute;
  left: 50px;
}

#button {
  position: relative;
  left: 10px;
  width: 455px;
}

#grid {
  width: 270px;
  height: 540px;
  margin-left: 10px;
  margin-top: 25px;
  border: 3px solid white;
}

#next {
  position: relative;
  width: 110px;
  height: 170px;
  left: 299px;
  top: -545px;
  background-color: black;
  font-size: 20px;
  border: 3px solid white;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}

#score {
  position: relative;
  width: 130px;
  height: 97px;
  left: 299px;
  top: -532px;
  background-color: black;
  font-size: 20px;
  border: 3px solid white;
  padding-right: 30px;
  text-align: right;
}

#level {
  position: relative;
  width: 130px;
  height: 96px;
  left: 299px;
  top: -519px;
  background-color: black;
  font-size: 20px;
  border: 3px solid white;
  padding-right: 30px;
  text-align: right;
}

#lines {
  position: relative;
  width: 130px;
  height: 97px;
  left: 299px;
  top: -504px;
  background-color: black;
  font-size: 20px;
  border: 3px solid white;
  padding-right: 30px;
  text-align: right;
}

#settings-box {
  text-align: end;
  position: relative;
  visibility: hidden;
  width: 450px;
  height: 500px;
  top: -500px;
  padding-left: 20px;
  padding-top: 20px;
  padding-right: 50px;
  background-color: black;
  border: 3px solid white;
  
}

#sb0 {
  position: absolute;
  left: 50px;
  top: 45px;
}

#sb1 {
  position: absolute;
  left: 50px;
  top: 94px;
}

#sb2 {
  position: absolute;
  left: 50px;
  top: 143px;
}

#sb3 {
  position: absolute;
  left: 50px;
  top: 192px;
}

#sb4 {
  position: absolute;
  left: 50px;
  top: 241px;
}

#sb5 {
  position: absolute;
  left: 50px;
  top: 290px;
}

#sb6 {
  position: absolute;
  left: 50px;
  top: 339px;
}

#btns {
  position: absolute;
  left: 300px;
  top: 40px;
  width: 140px;
  height: 350px;
}

.right {
  position: relative;
  left: 30px;
}

#defaults {
  position: absolute;
  left: 100px;
  top: 450px;
}

#close {
  position: absolute;
  left: 300px;
  top: 450px;
}

#all {
  position: absolute;
  top: 0px;
  visibility: hidden;
  width: 500px;
  height: 650px;
}

#paused {
  font-size: 25px;
}

#title {
  width: 500px;
  height: 180px;
}

#info {
  visibility: hidden;
  position: absolute;
  top: 20px;
  width: 450px;
  height: 680px;
  padding-left: 30px;
  padding-right: 1px;
  padding-top: 10px;
  text-align: left;
  background-color: black;
  border: 3px solid white;
}

#infoclose {
  position: relative;
  top: 70px;
  left: 165px;
}