* {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Trebuchet MS";
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

button, input, select {
    background-color: black;
    color: white;
    text-align: center;
    font-family: "Trebuchet MS";
    border: 3px solid gray;
}

button:hover, input:focus, select:focus {
    outline: none;
    border-color: white;
}